.vs/slnx.sqlite
.vs/SQLServer2025QueryPerformanceTuning/FileContentIndex/f814484f-d8a8-4656-a9e4-1c0d770525af.vsidx
.vs/SQLServer2025QueryPerformanceTuning/FileContentIndex/653c569f-4b08-47b4-8717-040c9af11093.vsidx
*.vsidx
.vs/SQLServer2025QueryPerformanceTuning/v17/.wsuo
.vs/SQLServer2025QueryPerformanceTuning/v17/DocumentLayout.backup.json
.vs/SQLServer2025QueryPerformanceTuning/v17/DocumentLayout.json
.vs/SQLServer2025QueryPerformanceTuning/v17/DocumentLayout.json
